*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-2{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 2px;
    left: 2px;
}
.navbar .container-fluid{
    background-color:rgb(158, 16, 158) ;
    display: flex;
    padding:0 !important ;
    
}

.navbar-nav li a{
    float: right;
    text-align: end;
    padding: 0px 10px;
}

#navbarNavDropdown{
    text-align: end;
    justify-content: flex-end;
    flex: 1fr;
    padding-right:10px ;
    
}

.nav-item a{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    

}



.nav-item a:hover{
    transition: 1s;
}

.fa-bars{
    color: #ffffff;
    font-size: 30px;
    outline: none;
}

.navbar-toggler:active{
    outline: transparent;
    border: none;

}


/* <!-------------------------------------------- banner-section--------------------------------------- --> */

#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
    color: #fff;
    padding-top: 5%;
}   

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin-right: 10px;

}

#banner a{
    color: #fff;
    text-decoration: none;
    
}

.bottom-img{
    width: 100%;
}

/* <!----------------------------------- section-service ------------------------------------------> */


#services{
    padding: 80px 0px;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

.Services{
    padding: 20px;
}

.Services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(17px);
}

#services .btn-primary{
    
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    background-image:linear-gradient(to right, #a517ba, #5f1782 ) ;
}

/* <!----------------------------------- about us ------------------------------------------> */


#about-us{
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-title{
    font-size: 40px;
    font-weight:600 ;
    margin-top: 8%;
    margin-left:50px ;
}

#about-us ul li{
    margin: 10px 0px ;
}
#about-us ul{
    margin-left: 50px;
}

/* ================testimonials============== */

#testimonials{
    margin: 100px 0px;
}

.testimonials{
border-left: 4px solid #7b1798;
margin-top: 50px;
margin-bottom: 50px ;

}

.container h1{
    margin-bottom: 100PX;
}

.testimonials img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0px 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}

/* ===================social-media=================== */

#social-media{
    background-color: #f8f9fa;
    padding: 50px 0px;
}

#social-media div p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px ;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

/* ===================#footer=================== */

#footer{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px ;
    background-image: linear-gradient(to right,#a517ba,#5f1782);

}

.footer-box .form-control{
    box-shadow: none !important ;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important ;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);

}